@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(700%);
    }
  }
  
  .animate-moveRight {
    animation: moveRight 8s linear infinite;
  }
  
/* Apply background color to all pages */
* {
  background-color: #fbfbfd;
}

/* Override background color for error page */
.erropage {
  background-color: #fff; /* or any other desired color */
}

  